@model Projeto.Presentation.MVC.Models.DependenteEdicaoModel

@{    
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Atualização de Dependentes</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.IdDependente)

    <label>Nome do Dependente:</label> @Html.TextBoxFor(model => model.Nome, 
        new 
        { 
            @class = "form-control col-md-4", 
            @placeholder = "Digite aqui" 
        })
    <br />

    <label>Data de Nascimento:</label> @Html.TextBoxFor(model => model.DataNascimento, 
        new 
        { 
            @class = "form-control col-md-4", 
            @placeholder = "Digite aqui" 
        })

    <br />

    <label>Selecione o Cliente:</label> 
    @Html.DropDownListFor( 
        model => model.IdCliente, 
        Model.ListagemDeClientes, 
        "Selecione uma opção", 
        new 
        { 
            @class = "form-control col-md-4" 
        })
    <br />
    <input type="submit" class="btn btn-success" value="Salvar Alterações" />
}