@model Projeto.Presentation.MVC.Models.ClienteCadastroModel

@{    
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h5>Cadastro de Cliente</h5>
<p>Preencha o formulário abaixo:</p>


<div class="text-danger">
    @Html.ValidationSummary()
</div>

@using (Html.BeginForm())
{
    <label>Nome:</label>
    @Html.TextBoxFor(model => model.Nome, 
        new {
            @class = "form-control col-md-4",
            @placeholder = "Digite aqui"
        })
        <br />

    <label>Email:</label>
    @Html.TextBoxFor(model => model.Email,
        new {
            @class = "form-control col-md-4",
            @placeholder = "Digite aqui"
        })
    <br />

    <label>CPF:</label>
    @Html.TextBoxFor(model => model.Cpf,
        new {
            @class = "form-control col-md-4",
            @placeholder = "Digite aqui"
        })
    <br />

    <input type="submit" class="btn btn-success" value="Realizar Cadastro"/>

}
