@model Projeto.Presentation.MVC.Models.ClienteEdicaoModel

@{
    ViewData["Title"] = "Edicao";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h1>Atualização de Cliente</h1>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.IdCliente)

    <label>Nome:</label>
    @Html.TextBoxFor(model => model.Nome,
        new {
            @class = "form-control col-md-4",
            @placeholder = "Digite aqui"
        })
    <br />

    <label>Email:</label>
    @Html.TextBoxFor(model => model.Email,
        new {
            @class = "form-control col-md-4",
            @placeholder = "Digite aqui"
        })
    <br />

    <label>CPF:</label>
    @Html.TextBoxFor(model => model.Cpf,
        new {
            @class = "form-control col-md-4",
            @placeholder = "Digite aqui"
        })
    <br />

    <input type="submit" class="btn btn-success" value="Salvar Alterações" />

}